doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title これだけダッシュボード
    link(rel='stylesheet',type='text/css' href='bootstrap.min.css')
    style(type="text/css").
      /* 全体的なスタイル
      -------------------------------------------------- */
      /* フッターの下の空白と明るめの本文 */
      body {
      padding-top: 3rem;
      padding-bottom: 3rem;
      color: #5a5a5a;
      }
      /* カルーセルをカスタマイズ
      -------------------------------------------------- */
      /* カルーセルの基本クラス */
      .carousel {
      margin-bottom: 4rem;
      }
      /* 画像を配置しているので、キャプションを手助けする必要がある */
      .carousel-caption {
      bottom: 3rem;
      z-index: 10;
      }
      /* img要素の配置のために高さを宣言 */
      .carousel-item {
      height: 24rem;
      background-color: #1e90ff;
      }
      /* マーケティング・コンテンツ
      -------------------------------------------------- */
      /* カルーセルの下の3列の中のテキストを整列 */
      .marketing .col-lg-4 {
      margin-bottom: 1.5rem;
      text-align: center;
      }
      .marketing h2 {
      font-weight: 400;
      }
      .marketing .col-lg-4 p {
      margin-right: .75rem;
      margin-left: .75rem;
      }
      /* フィーチャー
      ------------------------- */
      .featurette-divider {
      margin: 5rem 0; /* ブートストラップの&lt;hr&gt;をもっと外に出す */
      }
      /* マーケティングの見出しを細めにする */
      .featurette-heading {
      font-weight: 300;
      line-height: 1;
      letter-spacing: -.05rem;
      }
      /* レスポンシブCSS
      -------------------------------------------------- */
      @media (min-width: 40em) {
      /* カルーセルコンテンツのサイズを大きくする */
      .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
      }
      .featurette-heading {
      font-size: 50px;
      }
      }
      @media (min-width: 62em) {
      .featurette-heading {
      margin-top: 7rem;
      }
      }
  body
    header
      nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
        a.navbar-brand(href="#") これだけダッシュボード
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#Navbar" aria-controls="Navbar" aria-expanded="false" aria-label="ナビゲーションの切替")
          span.navbar-toggler-icon
        #Navbar.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item.active
              a.nav-link(href="#")
                | ホーム
                span.sr-only (現位置)
            li.nav-item
              a.nav-link(href="#") これだけダッシュボードとは
            li.nav-item
              a.nav-link(href="#") GitHub
    //
      カルーセル
      ==================================================
    main(role="main")
      #myCarousel.carousel.slide(data-ride="carousel")
        // インジケータ
        ol.carousel-indicators
          li.active(data-target="#myCarousel" data-slide-to="0")
          li(data-target="#myCarousel" data-slide-to="1")
          li(data-target="#myCarousel" data-slide-to="2")
        .carousel-inner
          .carousel-item.active
            .container
              .carousel-caption.text-left
                h1 これだけダッシュボード
                p
                  | ITエンジニア向けの情報まとめサイトです。毎日「これだけ」チェックしていれば、最低限のインプットが出来るダッシュボードを目指します。
          .carousel-item
            .container
              .carousel-caption.text-left
                h1 あえて情報をしぼる
                p
                  | 毎朝、短い時間でチェック出来るよう、最低限の情報だけを表示しています。
          .carousel-item
            .container
              .carousel-caption.text-left
                h1 駆け出しエンジニア向け
                p
                  | 本サイトは、駆け出しエンジニアの情報収集をサポートする為に生まれました。エンジニアになって最初の1年は、ITに関わる情報収集をどう行えばいいのかわからない人が多いと思います。
                  | 毎朝本サイトをチェックすることを、一生続く情報インプットの第一歩として頂ければ幸いです。
        a.carousel-control-prev(href="#myCarousel" role="button" data-slide="prev")
          span.carousel-control-prev-icon(aria-hidden="true")
          span.sr-only 前へ
        a.carousel-control-next(href="#myCarousel" role="button" data-slide="next")
          span.carousel-control-next-icon(aria-hidden="true")
          span.sr-only 次へ
      // /.carousel
      //
        マーケティングメッセージングとフィーチャー
        ==================================================
      // 残りのページを別のコンテナで囲んで、すべてのコンテンツを中央に配置
      .container.marketing
        // カルーセルの下にある3列のテキスト
        .row
          .col-lg-4
            .card.text-white.bg-primary.mb-3(style='max-width: 20rem;')
              .card-header Header
              |
              .card-body
                h5.card-title Primary card tite
                p.card-text
                  | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.

            .card.text-white.bg-primary.mb-3(style='max-width: 20rem;')
              .card-header Header
              |
              .card-body
              h4.card-title Primary card title
              |
              p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.

            .card.text-white.bg-primary.mb-3(style='max-width: 20rem;')
              .card-header Header
              |
              .card-body
              h4.card-title Primary card title
              |
              p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.


                // /.col-lg-4
          .col-lg-4
            img.rounded-circle(src="holder.js/140x140?bg=ccc" alt="一般的なプレースホルダ画像")
            h2 見出し
            p
              | この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。
            p
              a.btn.btn-secondary(href="#" role="button") 詳細を見る »
          // /.col-lg-4
          .col-lg-4
            img.rounded-circle(src="holder.js/140x140?bg=ccc" alt="一般的なプレースホルダ画像")
            h2 見出し
            p
              | この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。
            p
              a.btn.btn-secondary(href="#" role="button") 詳細を見る »
          // /.col-lg-4
        // /.row

      // /.container
    // フッタ
    footer.container
      p ©2018
        a(href="https://twitter.com/kennygt51" target="blank") kennygt51

    script(src="jquery.min.js")
    script(src="bootstrap.min.js")
    script(src="popper.js")
